<div id="signup_container">
      <h1 class="action_title">SIGN UP</h1>
      <form class="ui form" action="/dixit/sign_up" method="post">

        <div class="field">
          <label style="color: white; font-size: 20px;">NICKNAME</label>
          <input type="text" name="nickname" id="nickname" placeholder="Nickname">
        </div>
        <div class="field">
          <label style="color: white; font-size: 20px;">USERNAME</label>
          <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="field">
          <label style="color: white; font-size: 20px;">PASSWORD</label>
          <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <button class="ui button" type="submit" id=""button value="Go" style=" font-family: 'Love Ya Like A Sister', cursive; font-size: 20px;">Submit</button>
      </div>
</div>