body {
    background-image: url("/images/wallpaper/night.jpg");
    background-size: cover;
    height: auto;


#post_card {
    width: 634px;
    margin: auto;
    margin-top: 100px;
    height: 450px;
    opacity: 0.7;


.header {
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    
}

}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 209px;


.button {
    background-color: rgba(220, 220, 220, 0.5);
    padding: 10px;


.button a {
    color: #292929;
    font-family: 'Love Ya Like A Sister', cursive;


.button a:hover {
    color: white;
}
}
}

}

select {
    margin-left: 410px;
    margin-top: 10px;
    background-color: rgba(220, 220, 220, 0.7);
    width: 100px;
}

#buttons2 {
    display: flex;
    margin-left: 831px;

    .button2 {
    margin-top: 98px;
    width: 177px;
}
}

input {
    background-color: rgba(220, 220, 220, 0.7);
    border: none;
    border-radius: 8%;
    height: 23px;
    width: 79px;
    margin-left: 814px;
    margin-top: 10px;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px #555 solid;
}

}