body {
    font-family: 'Love Ya Like A Sister', cursive;
    /* background-image: url("/images/wallpaper/panda.jpg");
    background-size:cover; */
}

.action_title, button{
    font-family: 'Love Ya Like A Sister', cursive;
}

#nickname, #username, #password, #button {
    background: transparent;
    /* border: 1px solid white; */
    background-color: rgba(192, 192, 192, 0.7);
    color: white;
}

.action_title {
    padding-top:100px;
    text-align: center;
    color: #292929;
    font-size: 30px;
}

form {
    margin-left: 350px;
    margin-right: 300px;
    width: 700px;
    margin-top: 119px;
}



label {
    color: white;
    font-size: 20px;
}

#signup_container {
    background-image: url("/images/wallpaper/postapocalypsis.jpg");
    background-size:cover;
    height: 100%;
    width: 100%;
}

#signin_container {
    background-image: url("/images/wallpaper/panda.jpg");
    background-size:cover;
    height: 100%;
    width: 100%;
}

input {
    background: transparent;
    /* border: 1px solid white; */
    background-color: rgba(192, 192, 192, 0.7);
    color: white;
    height: 50px;
    font-size: 30px;
}